@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  border: none;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: white;
}

a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  background-color: #1e1e1e;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.content .first-container {
  background-image: url("../src/assets/Images/bg.jpg");
  background-size: cover;
  background-position: center;
}

.first-container,
.second-container {
  width: 100%;
  height: 92vh;
  background-color: #1e1e1e;
}

.content-home {
  position: absolute;
  top: 30%;
  left: 5%;
}

.content-home p {
  font-size: 42px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 10px;
}

.content-home button {
  background-color: #000000;
  color: #ffffff;
}

.card-container,
.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card-container,
.course-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-container input,
select {
  border: 1px solid #555;
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.card,
.card1 {
  width: calc(33% - 10px);
  height: 40%;
  background-color: #2e2e2e;
}

.read-more-link {
  cursor: pointer;
  color: #9acd32;
  text-decoration: underline;
}

.card1 {
  border-radius: 5px;
  width: 300px;
  height: 320px;
  position: relative;
  border: 1px solid #444;
  overflow: hidden;
}

.description-container {
  width: 100%;
  overflow-x: auto;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  color: #ddd;
}

.card1 .desc {
  width: 100%;
  height: 100%;
  transition: .5s;
  padding: 10px;
  color: #ddd;
}

.card1:hover .desc {
  opacity: .5;
  transform: translateX(30%);
}

.card1 .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/assets/Images/image.png');
  background-size: cover;
  transition: 1.9s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
  border-radius: 5px;
}

.card1:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}

.card1 .details .center {
  padding: 20px;
  text-align: center;
  background: #333;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.card1 .details .center h1 {
  margin: 0;
  padding: 0;
  color: #9acd32;
  line-height: 20px;
  font-size: 25px;
  text-transform: uppercase;
}

.card1 .details .center h1 span {
  font-size: 14px;
  color: #ddd;
}

.card1 .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #ddd;
}

.card1 .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}

.card1 .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card1 .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transition: .5s;
}

.card1 .details .center ul li a:hover {
  background: #9acd32;
}

.course-content {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  color: #ddd;
}

.course-section,
.course-video {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 940px) {
  .card {
    width: calc(25% - 10px);
  }
}

.certificate {
  width: 100%;
  padding: 20px;
  border: 1px solid #666;
  text-align: center;
  background-color: #1e1e1e;
  color: #ffffff;
}

.certificate h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.certificate .content h2,
.certificate .content h3,
.certificate .content .date {
  font-weight: bold;
}

@media (max-width: 768px) {
  .course-section,
  .course-video {
    width: 100%;
  }
}

.footer-text {
  color: black;
}